*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1,h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{  
    // coger el color generico quitar el azulito link
    color: inherit;  
    text-decoration: none;
}
img{
    max-width: 100%;
}
.wrapper{
    max-width: min(90vw,1200px);
    margin: 0 auto;
}